@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0 0 0 0;
  font-size: 62.5%;

}
.App{
  background-color: #F8F8F8;
  width: 100%;
  height: 100vh;
}
.App > .announcePart{
  background-color: #4A4A4A;
  width: 100%;
  height: 100vh;
}
.logoDiv{
  display: flex;
  align-items: center;
}
.headerPart{
  display: flex;
  justify-content: space-between;
  padding: 1.4vw 3vw 0 3vw; 
}
.textDiv{
  display: flex;
}
.textDiv > p{
 font-family: "Roboto";
 font-size: 1.2vw; 
 color: #F6DE2A;
 margin-left: 1.2vw;
}
.announceFix{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.announceCreate{
  
  justify-content: center;

  text-align: center;
  flex-direction: column;
  margin: 10vh 0 0 0;
  color: #fff;
  font-family: "Roboto"; 
}
.firstText{
  font-size: calc(3.5vw + 1rem);

}
.textDiferent{
  font-size: calc(2.5vw + 1rem);

  display: flex;
  justify-content: center;
  
}
.inteligentText{
  font-size: calc(2vw + 1.7rem);
  margin: 0 6px 0 6px;
  color: #F6DE2A;
}
.buttonAnounce{
 
  justify-content: center;
}
.buttonAnounce > button{
  font-size: calc(0.8vw + 0.9rem);
  font-family: "Roboto";
  width: 13vw;
  height: 5vh;
  background-color: #F6DE2A;


  border-style: none;
  border-radius: 30px;
  margin-top: 2.2vh ;
}
.buttonAnounce > button:hover{
  background-color: #bea906;

}
.helpText{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;

  
}
.detailHelptext{
  margin: 2.5vw 0 0 7vw;
  display: flex;
  flex-direction: column;
}
.AA0{
  font-family: "Roboto";
  font-size: calc(1.5vw + 0.9rem);
}
.AA1{
  font-family: "Roboto";
  font-size: calc(0.8vw + 0.9rem);
  margin-left: 2vw;
}
.boxBeneficios{
  width: 15vw;
  height: 30vh ;

  background-color: #fff;
  display: flex;

  margin: 3vw 0 0 4vw ;
  border: 1px solid #000 ;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";
}
.boxBeneficios > img{
  width: 7vw;
  height: 7vh;
  margin-top: 1.3rem ;
}
.boxBeneficios > .AA2{

  font-size: calc(1.0vw + 0.7rem);
  font-weight: 600;
  margin-top: 1.3rem ;
}
.boxBeneficios > .AA3{
  font-size: calc(0.6vw + 0.7rem);
}
.fixAA4{
  margin-top: 1.3rem;
}
.fixAA4 > .AA4{
  
  font-size: calc(0.6vw + 0.4rem);
}